.Top {
  text-align: center;
}

.Top-logo {
  animation: Top-logo-spin infinite 20s linear;
  height: 80px;
}

.Top-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Top-title {
  font-size: 1.5em;
}

.Top-intro {
  font-size: large;
}

@keyframes Top-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
